crypto ikev2 proposal azure-proposal
  encryption aes-cbc-256 aes-cbc-128 3des
  integrity sha1
  group 2
  exit
!
crypto ikev2 policy azure-policy
  proposal azure-proposal
  exit
!
crypto ikev2 keyring azure-keyring
  peer 20.238.114.8
    address 20.238.114.8
    pre-shared-key DscConfigurationL0g
    exit
  exit
!
crypto ikev2 profile azure-profile
  match address local interface GigabitEthernet1
  match identity remote address 20.238.114.8 255.255.255.255
  authentication remote pre-share
  authentication local pre-share
  keyring local azure-keyring
  exit
!
crypto ipsec transform-set azure-ipsec-proposal-set esp-aes 256 esp-sha-hmac
 mode tunnel
 exit

crypto ipsec profile azure-vti
  set transform-set azure-ipsec-proposal-set
  set ikev2-profile azure-profile
  set security-association lifetime kilobytes 102400000
  set security-association lifetime seconds 3600 
 exit
!
interface Tunnel0
 ip unnumbered GigabitEthernet1 
 ip tcp adjust-mss 1350
 tunnel source GigabitEthernet1
 tunnel mode ipsec ipv4
 tunnel destination 20.238.114.8  
 tunnel protection ipsec profile azure-vti
exit
!
router bgp 65501
 bgp router-id interface GigabitEthernet1
 bgp log-neighbor-changes
 neighbor 172.168.0.4 remote-as 65505
 neighbor 172.168.0.4 ebgp-multihop 5
 neighbor 172.168.0.4 update-source GigabitEthernet1
!
ip route 172.168.0.4 255.255.255.255 Tunnel0
!
end
!
! wr mem

! Saso
crypto isakmp policy 1
encr aes
hash sha256
authentication pre-share
group 14
crypto isakmp key DscConfigurationL0g address 0.0.0.0        
crypto ipsec transform-set CSR-TS esp-3des esp-md5-hmac
mode transport
crypto ipsec profile CSR-PROFILE
set transform-set CSR-TS
interface Tunnel0
ip unnumbered Gi1
tunnel source Gi1
tunnel mode ipsec ipv4
tunnel destination 20.238.114.8
tunnel protection ipsec profile CSR-PROFILE
end


